# vendor.citadeld needs to stopped before starting duress_wipe
# otherwise comminution to Titan M will fail with error
# `device or resource busy`

on property:sys.duress.wipe.start=true
   stop vendor.citadeld
   start duress_wipe

service duress_wipe /vendor/bin/vendor.duress_service
    user hsm
    group hsm
    oneshot
    disabled
